EmailSettings__SmtpUsername="9925d1c2c84823"
EmailSettings__SmtpPassword="8504963ed26c7f"
EmailSettings__SmtpServer="sandbox.smtp.mailtrap.io"
EmailSettings__SmtpPort=587
EmailSettings__SenderEmail="noreply@studentplanner.com"
EmailSettings__SenderName="Student Planner"
